<!DOCTYPE html>
<html><h1>About</h1>
    <p>This is a AutoGrading project done under Prof. Piyush Rai using node js for the back end, <br>
express handlers for the backend and tensorflow python for transfer learning</p>


<p>Version: 1.0.0</p>
</html>
