<!DOCTYPE html>
<body>
    <form action = "/process_get_answer" method = "GET">
        Answer Key : <input type = "text" name ="answer" id ="answer_string" value =""><br>
        <input type = "submit" value = "Submit data">
    </form>
</body>
