<div class="jumbotron text-center">
    <h1 class="display-3">{{title}}</h1>
    <h1>Please check the roll number you have entered</h1>
    <p class="lead">Grade your papers automatically with the help of deep-learning</p>
    <a href="/select" class="btn bt-dark btn-lg">Choose paper</a>
</div>