

<div class="jumbotron text-center">
    <h1 class="display-3">Successfully evaluated answers </h1>
    <p class="lead">Grade your papers automatically with the help of deep-learning</p>
    <h2>This is your score :  {{marks1}} out of {{marks2}} </h2>
    <h1>Your Answer:    {{givenAnswer}}</h1>
    <h1>Correct Answer: {{ReqAnswer}}</h1>
     
     
    <a href="/" class="btn bt-dark btn-lg">Click here to go back home</a>
</div>