
<body>
    <form action = "/process_get_name" method = "GET">
        ExamType : <input type = "text" name ="image_name" id ="pointdata" value =""><br>
        <input type = "submit" value = "Submit data">
    </form>
</body>