<!DOCTYPE html>
<body>
    <form action = "/process_get_student" method = "GET">
        Roll Number: <input type = "text" name ="roll_no" id ="roll_no_data" value =""><br>
        Exam : <input type = "text" name ="exam_type" id ="exam_type_data" value =""><br>
        <input type = "submit" value = "Submit data">
    </form>
</body>
<!DOCTYPE html>