<div class="jumbotron text-center">
    <h1 class="display-3">Request for answer evaluation sent successfully </h1>
    <p class="lead">Grade your papers automatically with the help of deep-learning</p>
    <a href="/results" class="btn bt-dark btn-lg">Click here to view results</a>
    <a href="/" class="btn bt-dark btn-lg">Click here to go back home</a>
</div>