<div class="jumbotron text-center">
    <h1 class="display-3">Successfully updated template for {{image}} </h1>
    <p class="lead">Grade your papers automatically with the help of deep-learning</p>
    <a href="/answerKey" class="btn bt-dark btn-lg">Click here to give corresponding answers</a>
</div>